body {
    font-family: 'Rubik', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 100;
    padding: 0px;
    margin: 0px;
}

.jumbotron {
    background: none !important;
}

#inside {
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.darkmode-layer, .darkmode-toggle  {
    z-index: 120;
}